
<h1 class="text-center p-3" style="font-size: 48px; font-family: 'Corben', cursive;">ABOUT</h1>
<p class="text-center" style="font-size: 15px;">ながのCAKEは全国発送可能なケーキ屋さんです。
<br>お子様からお年寄りの方までお召し上がりいただけるよう、
<br>さまざまなバリエーションをご用意しております。
<br>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。
<br>ぜひご注文ください。</p>
<div class="text-center p-2">
<%= image_tag 'images.jpeg', size: "600x300" %>
</div>