<h4>注文情報確認</h4>

<table>
  <thead>
    <tr>商品名</tr>
    <tr>単価(税込)</tr>
    <tr>数量</tr>
    <tr>小計</tr>
  </thead>
  <tbody>
    
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tbody>
</table>

<table></table>
